
# direct dependencies

boto3~=1.15.1
botocore~=1.18.1
datetime~=4.3
marshmallow_dataclass~=8.0.0
marshmallow~=3.8.0
pandas~=1.1.2
pathlib~=1.0.1
python-dateutil~=2.8.1


# in-direct dependencies

jmespath~=0.10.0
numpy~=1.19.2
pytz~=2020.1
s3transfer~=0.3.3
setuptools~=50.3.0
six~=1.15.0
urllib3~=1.25.10


